body {
    background: #696969; /* nice-gray: Background */
    color:      #E8E1E1;
}

.navbar {
    background: #A14646; /* red: Navbar */
}

.dropdown-menu {
    background: #C4C4C4; /*Gray-White: Dropdown box*/
}

.h1, .h2 {
    color: #D34C4C; /*Red: Header Text*/
}

a, .btn {
    color: #E8E1E1; /*White: Text*/
}

.box {
    background-color: #444A7B;
    border-radius: 10px;
}